{% extends "layout.html" %}
{% block title %}Create Event - DOE{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#dcb0a5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Create Event - DOE">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('signup') }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="Create Event - DOE">
    <meta name="twitter:description" content="Create Event - DOE">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
{% endblock %}
{% block content %}
  <div class= "createevent row-small">
    <div class = "text">
      <div class = "title">Create Event</div>
      <div class="input-field">
        <input type="text" name="eventname" id="eventname" value="">
        <label for="eventname">Event Title</label>
      </div>
      <div class="text-box">
        <textarea id="eventdescription" placeholder="Description"></textarea>
      </div>
      <div class="date-selector">
        Event Date: <input type="date" id="date">
      </div>
      <div class = "time-selector">
        Event Start Time: <br>
        Hour: <input type ="number" id="shour" min="1" max="24">
        Minute: <input type="number" id="sminute" min="0" max="60">
      </div>
      <div class = "time-selector">
        Event End Time: <br>
        Hour: <input type ="number" id="ehour" min="1" max="24">
        Minute: <input type="number" id="eminute" min="0" max="60">
      </div>
      <div class="school-selector">
        Select School:
        <select id="school" disabled>
          <option></option>
        </select>
      </div>
      <div class="facility-selector">
        Select Facility:
        <select id="facility" disabled>
          <option></option>
        </select>
      </div>
      <div class="donation-checkbox">
        <input type="checkbox" id="donation-checkbox" value="takes-donations">Takes donations?
      </div>
      <div>
        <input type="radio" name="event-type" value="private">Private</input>
        <input type="radio" name="event-type" value="public">Public</input>
      </div>
      <div class = "photolink">
        Photo Link: <input type="text" id="photolink" value="">
      </div>
      <div class="text-center">
        <div class="rect-btn" id="create-btn">
          Create Event
        </div>
      </div>
    </div>
  </div>
  <script>
  var school = document.getElementById('school');
  var facility = document.getElementById('facility');
  var create = document.getElementById('create-btn');
  getSchools();

  school.addEventListener("change", function() {
    if(this.value != null || this.value != ""){
      getfacilitiesforschool(this.value)
    }
  })

  create.addEventListener("click", createEvent);

  function getSchools() {
    var request = new XMLHttpRequest();
    request.open('POST', '/getschools', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onreadystatechange = function(e) {
      if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
        var data = JSON.parse(request.responseText);
        school.disabled=false;
        school.innerHTML = "<option></option>";
        for (var i = 0; i < data.length; i++) {
          school.innerHTML += "<option value='"+ data[i].school_id +"'>"+ data[i].school_name +" - "+ data[i].school_address+"</option>";
        }
      }
    }
    request.send("");
  }

  function getfacilitiesforschool(school_id) {
    var request = new XMLHttpRequest();
    request.open('POST', '/getfacilitiesforschool', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onreadystatechange = function(e) {
      if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
        var data = JSON.parse(request.responseText);
        facility.disabled=false;
        facility.innerHTML = "<option></option>";
        for (var i = 0; i < data.length; i++) {
          facility.innerHTML += "<option value='"+ data[i].facility_id +"'>"+ data[i].facility_name +" - "+ data[i].capacity
          + "- $" + data[i].facility_rent +"</option>";
        }
      }
    }
    request.send("school_id=" + school_id);
  }

  function createEvent() {

    var radios = document.getElementsByName('genderS');
    var event_type = 'Public'
    for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
            // do whatever you want with the checked radio
            event_type = radios[i].value;
            // only one radio can be logically checked, don't check the rest
            break;
        }
    }

    var request = new XMLHttpRequest();
    request.open('POST', '/createevent', true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onreadystatechange = function(e) {
      if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
        var data = request.responseText;
        if(data == '-1'){
          console.log(":(");
        } else {
          window.location = data;
        }
      }
    }
    request.send("school_id="+ school.value + "&facility_id=" + facility.value
                + "&description=" + document.getElementById('eventdescription').value
                + "&eventname=" + document.getElementById('eventname').value
                + "&date=" + document.getElementById('date').value
                + "&shour=" + document.getElementById('shour').value
                + "&sminute=" + document.getElementById('sminute').value
                + "&ehour=" + document.getElementById('ehour').value
                + "&eminute=" + document.getElementById('eminute').value
                + "&donation=" + document.getElementById('donation-checkbox').checked
                + "&event_type=" + event_type);
  }
  </script>
{% endblock %}
