{% extends "layout.html" %}
{% block title %}Create Event - DOE{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#dcb0a5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Create Event - DOE">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('signup') }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="Create Event - DOE">
    <meta name="twitter:description" content="Create Event - DOE">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
{% endblock %}
{% block content %}
  <div class= "createevent row-small">
    <div class = "text">
      <div class = "title">Create Event</div>
      <div class="input-field">
        <input type="text" name="eventname" id="eventname" value="">
        <label for="eventname">Event Name</label>
      </div>
      <div class="text-box">
        <textarea id="eventdescription" placeholder="Description"></textarea>
      </div>
      <div>
        <input type="radio" name="event-type" value="private">Private</input>
        <input type="radio" name="event-type" value="public">Public</input>
      </div>
      <div class="text-center">
        <div class="rect-btn">
          Create Event
        </div>
      </div>
    </div>
  </div>
{% endblock %}
