<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DOE - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <header class="main">
      <div class="top-nav">
        <div class="row-big">
          <div class="title">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
          </div>
          <nav>
            <ul class="top-buttons">
              <li><div class="btn" id="calendar"><a href ="{{ url_for('calendar') }}">
                <img src="{{ url_for('static', filename='calendaricon.png') }}" alt="CalendarIcon">
              <div class="btn-fill"></div></a></div></li>
              {% if session['username'] %}
                <li><div id="menu"><div class="btn" id="menubtn">Menu</div>
                    <div class="menu-content" id="menu-content">
                      <a href="{{ url_for('user', name = session['username']) }}">{{ session['username'] }}</a>
                      <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
              {% else %}
                <li><div class="btn">Login<a class="btn-fill" href="{{ url_for('login') }}"><div class="btn-fill"></div></a></div></li>
                <li><div class="btn">Sign Up<a href="{{ url_for('signup') }}"><div class="btn-fill"></div></a></div></li>
              </ul>
              {% endif %}
          </nav>
        </div>
      </div>
      {% if fe[0] %}
        {% if fe[0].event_type != 'private' %}
          <div class="row-big text">
            <div class="smalltext">Featured Event</div>
            <div class="title">{{ fe[0].name }}</div>
            <div class="subtitle">{{ fe[0].school.school_name }} - {{ fe[0].school.school_address }}</div>
          </div>
          <a href="/e/{{ fe[0].id }}/{{ fe[0].name }}"><div class="btn-fill"></div></a>
          <script>
            window.onload = function() {
              document.getElementsByClassName('main')[0].style.background = "url('{{ fe[0].pictureUrl }}')";
              document.getElementsByClassName('main')[0].style.backgroundSize = "cover";
            }
          </script>
        {% endif %}
      {% endif %}
    </header>
    <div class="search-bar">
      <div class="search-box">
        <input type="text" name="search" id="search" value="">
        <label for="search">Search</label>
      </div>
      <div class="btn-small" id="search-btn">
        Search
        <a href="#"><div class="btn-fill"></div></a>
      </div>
    </div>
    <div class="content main">
      <div class="list-row">
        <div class="list">
          <ul>
            <li><div class="list-header">
              <div class="title">Events Near You</div>
            </div></li>
            {% if se %}
              {% for e in se %}
                {% if e.event_type != 'private' %}
                  <li><div class="list-items">
                    <div class="title">{{ e.name }}</div>
                    <div class="subtitle">{{ e.school.school_name }} - {{ e.school.school_address }}</div>
                    <a href="/e/{{ e.id }}/{{ e.name }}"><div class="btn-fill"></div></a>
                  </div></li>
                {% endif %}
              {% endfor %}
            {% else %}
            <li><div class="list-items text-center">
              <div class="title">No Events Near You!</div>
              <a href="/login"><div class="btn-fill"></div></a>
            </div></li>
            {% endif %}
          </ul>
        </div>
        <div class="list">
          <ul>
            <li><div class="list-header">
              <div class="title">Featured Events</div>
            </div></li>
            {% if fe %}
              {% for e in fe %}
                {% if e.event_type != 'private' %}
                  <li><div class="list-items">
                    <div class="title">{{ e.name }}</div>
                    <div class="subtitle">{{ e.school.school_name }} - {{ e.school.school_address }}</div>
                    <a href="/e/{{ e.id }}/{{ e.name }}"><div class="btn-fill"></div></a>
                  </div></li>
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="legal">
        Copyright (c) 2017 Asim Shrestha. All Rights Reserved.
      </div>
    </footer>
    <script>
    var searchbtn = document.getElementById('search-btn');
    searchbtn.addEventListener('click', function(){
      if(document.getElementById('search').value != null && document.getElementById('search').value != ""){
        window.location = "/search?q=" + document.getElementById('search').value;
      }
    });
    </script>
  </body>
</html>
