<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DOE - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <header class="main">
      <div class="top-nav">
        <div class="row-big">
          <div class="title">
            DOE
          </div>
          <nav>
            <ul class="top-buttons">
              {% if session['username'] %}
                <li><div id="menu"><div class="btn" id="menubtn">Menu</div>
                    <div class="menu-content" id="menu-content">
                      <a href="{{ url_for('user', name = session['username']) }}">{{ session['username'] }}</a>
                      <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
              {% else %}
                <li><div class="btn">Login<a class="btn-fill" href="{{ url_for('login') }}"><div class="btn-fill"></div></a></div></li>
                <li><div class="btn">Sign Up<a href="{{ url_for('signup') }}"><div class="btn-fill"></div></a></div></li>
              </ul>
              {% endif %}
          </nav>
        </div>
      </div>
    </header>
    <div class="search-bar">
      <div class="search-box">
        <input type="text" name="search" id="search" value="">
        <label for="search">Search</label>
      </div>
      <div class="btn-small">
        Search
      </div>
    </div>
    <div class="content main">
      <div class="list-row">
        <div class="list">
          <ul>
            <li><div class="list-header">
              <div class="title">Events Near You</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 1</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 2</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 3</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 4</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 5</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 6</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li><div class="list-header">
              <div class="title">Top Rated Events</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 1</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 2</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 3</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 4</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 5</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
            <li><div class="list-items">
              <div class="title">Apples 6</div>
              <div class="subtitle">At Apple Street</div>
            </div></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="legal">
        Copyright (c) 2017 Asim Shrestha. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
