{% extends "layout.html" %}
{% block title %}Login - DOE{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#dcb0a5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Login - DOE">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('login') }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="Login - DOE">
    <meta name="twitter:description" content="Login - DOE">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
{% endblock %}
{% block content %}
  <div class="login row-small">
    <div class="input-field">
      <input type="text" name="username" id="username" value="">
      <label for="username">Username</label>
    </div>
    <div class="input-field">
      <input type="password" name="password" id="password" value="">
      <label for="password">Password</label>
    </div>
    <input id="login" type="submit" name="submit" value="Login">
    <div class="error" id="log"></div>
  </div>
  <script type="text/javascript">
  var login = document.getElementById('login');
  var log = document.getElementById('log');
  var today = new Date();
  login.addEventListener('click', function(){
  var request = new XMLHttpRequest();
  request.open('POST', '/login', true);
  request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
  request.onreadystatechange = function(e) {
    if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
        var data = request.responseText;
        //console.log(data);
        if (data == '-1') {
          log.innerText = "Invalid Password or Username.";
        } else {
          window.location = data;
        }
      }
    }
    request.send("username="+ document.getElementById('username').value + "&password=" + document.getElementById('password').value );
  });
  </script>
{% endblock %}
