{% extends "layout.html" %}
{% block title %}{{ user.name }} - Profile{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#dcb0a5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="{{ user.name }} - Profile">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('user', name=user) }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="{{ user.name }} - Profile">
    <meta name="twitter:description" content="{{ user.name }} - Profile">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
{% endblock %}
{% block content %}
  <div class="profile-header row-big">
    <div class="profile-info">
      <div class="profile-pic">
        <img src="{{ user.pictureUrl }}">
      </div>
      <div class="text">
        {% if user.name %}
          <div class="username">{{ user.name }}</div>
        {% else %}
          <div class="username">Name Not Found</div>
        {% endif %}
        <div class="title">{{ user.title }}</div>
      </div>
    </div>
  </div>
  <div class="profile-stats row-big">
    <div class="stat">
      <div class="title">
        Ratings
      </div>
      {% for rating in user.rating %}
      <div class="rating">
        <div class="name">
          {{ rating.title }}
        </div>
        <div class="progressbar">
          <div class="bar" style="width: {{ (rating.rating*10) }}%"></div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="stat">
      <div class="title">
        Ratings
      </div>
      <div class="rating">
        <div class="name">
          Something
        </div>
        <div class="progressbar">
          <div class="bar" style="width: 50%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-events">
    <div class="p-event">
      <div class="list-card row-big"><!--
        {% for event in user.events %}
      --><div class="card">
          <div class="image" style="background: url('{{ event.pictureUrl }}'); background-size: cover">
            <div class="title">{{ event.title }}</div>
          </div>
          <div class="discription">{{ event.discription }}</div>
        </div><!--
        {% endfor %}
        --></div>
    </div>
  </div>
{% endblock %}
