<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header class="sub-page">
      <div class="top-nav">
        <div class="row-big">
          <div class="title">
            Theme 1
          </div>
          <nav>
            <ul class="top-buttons">
              <li><div class="btn">Button 1</div></li>
              <li><div class="btn">Button 2</div></li>
              <li><div class="btn">Button 3</div></li>
              <li><div class="btn">Button 4</div></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="profile-header row-big">
        <div class="profile-info">
          <div class="profile-pic">
            <img src="./Screenshots/Home.png">
          </div>
          <div class="text">
            {% if name %}
              <div class="username">{{ name }}</div>
            {% else %}
              <div class="username">Name Not Found</div>
            {% endif %}
            <div class="title">Apples</div>
          </div>
        </div>
      </div>
      <div class="profile-stats row-big">
        <div class="stat">
          <div class="title">
            Ratings
          </div>
          <div class="rating">
            <div class="name">
              Something
            </div>
            <div class="progressbar">
              <div class="bar" style="width: 20%"></div>
            </div>
          </div>
          <div class="rating">
            <div class="name">
              Something
            </div>
            <div class="progressbar">
              <div class="bar" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="stat">
          <div class="title">
            Ratings
          </div>
          <div class="rating">
            <div class="name">
              Something
            </div>
            <div class="progressbar">
              <div class="bar" style="width: 50%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-events">
        <div class="p-event">

        </div>
      </div>
    </div>
  </body>
</html>
