{% extends "layout.html" %}
{% block title %}{{ user.name }} - Profile{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#1BFFFF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="{{ user.name }} - Profile">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('user', name=user) }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="{{ user.name }} - Profile">
    <meta name="twitter:description" content="{{ user.name }} - Profile">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
{% endblock %}
{% block content %}
  {% if user.name %}
    <div class="profile-header row-big">
      <div class="profile-info">
        <div class="profile-pic">
          <img src="{{ user.pictureUrl }}">
        </div>
        <div class="text">
          <div class="username">{{ user.name }}</div>
          <div class="title">{{ user.title }}</div>
        </div>
      </div>
      <div class="profile-right">
        {% if session['username'] == name %}
        <div class="rect-btn">
          Create Event
          <a href="{{ url_for('createevent') }}"><div class="btn-fill"></div></a>
        </div>
        {% endif %}
      </div>
    </div>
    {% if user.title == 'Public' %}
    <div class="profile-stats row-big">
      <div class="stat">
        <div class="title">
          Ratings
        </div>
        {% for rating in user.rating %}
        <div class="rating">
          <div class="name">
            {{ rating.title }}
          </div>
          <div class="progressbar">
            <div class="bar" style="width: {{ (rating.rating*10) }}%"></div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="stat">
        <div class="title">
          Ratings
        </div>
        <div class="rating">
          <div class="name">
            Something
          </div>
          <div class="progressbar">
            <div class="bar" style="width: 50%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-events">
      <div class="p-event">
        <div class="list-card row-big"><!--
          {% if user.events %}
          {% for event in user.events %}
        --><div class="card">
            <div class="image" style="background: url('https://asimshrestha2.github.io/imgs/content/environment.png'); background-size: cover">
              <div class="title">{{ event[1] }}</div>
            </div>
            <div class="description">{{ event[2] }}</div>
            <a href="{{ url_for('event', id=event[0], name=event[1]) }}"><div class="btn-fill"></div></a>
          </div><!--
          {% endfor %}
          {% endif %}
          --></div>
      </div>
    </div>
    {% elif user.title == 'Admin' and session['userType'] == 'Admin' %}
    <div class="admin-panel row-big">
      This is the Admin Panel
    </div>
    <div class="profile-events">
      <div class="p-event">
        <div class="list-card row-big"><!--
          {% if user.events %}
          {% for event in user.events %}
        --><div class="card">
            <div class="image" style="background: url('https://asimshrestha2.github.io/imgs/content/environment.png'); background-size: cover">
              <div class="title">{{ event[1] }}</div>
            </div>
            <div class="description">{{ event[2] }}</div>
            <a href="{{ url_for('event', id=event[0], name=event[1]) }}"><div class="btn-fill"></div></a>
          </div><!--
          {% endfor %}
          {% endif %}
          --></div>
      </div>
    </div>
    {% elif user.title == 'School' and session['userType'] == 'School' %}
    <div class="school-panel row-big">
      This is the School Panel
    </div>
    <div class="profile-events">
      <div class="p-event">
        <div class="list-card row-big"><!--
          {% if user.events %}
          {% for event in user.events %}
        --><div class="card">
            <div class="image" style="background: url('https://asimshrestha2.github.io/imgs/content/environment.png'); background-size: cover">
              <div class="title">{{ event[1] }}</div>
            </div>
            <div class="description">{{ event[2] }}</div>
            <a href="{{ url_for('event', id=event[0], name=event[1]) }}"><div class="btn-fill"></div></a>
          </div><!--
          {% endfor %}
          {% endif %}
          --></div>
      </div>
    </div>
    {% else %}
    <div class="error row-big text-center">
      User Info Privated
    </div>
    {% endif %}
  {% else %}
    <div class="username text-center">Username missing.</div>
  {% endif %}
{% endblock %}
