{% extends "layout.html" %}
{% block title %}Login - DOE{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#dcb0a5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Login - DOE">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('login') }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="Login - DOE">
    <meta name="twitter:description" content="Login - DOE">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
{% endblock %}
{% block content %}
  <div class="search-page row-big">
    <div class="row-small">
      <div class="input-field">
        <input type="text" name="search" id="search-p" value="">
        <label for="search-p">Search</label>
      </div>
      <div class="position-right">
        <div id="btn-search" class="btn-small rect">Search
          <a href="#"><div class="btn-fill"></div></a>
        </div>
      </div>
    </div>
    <div class="list">
      <ul>
    {% if results %}
      {% for result in results %}
        <li>
          <div class="list-items">
            <div class="title">{{ result[1] }}</div>
            <div class="subtitle">{{ result[11] }}</div>
            <a class="btn-fill" href="/e/{{ result[0] }}/{{ result[1] }}"><div class="btn-fill"></div></a>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <li>
        <div class="list-items text-center">
          <div class="title">No Results found.</div>
        </div>
      </li>
    {% endif %}
      </ul>
    </div>
    <script>
    var searchbtn = document.getElementById('btn-search');
    searchbtn.addEventListener('click', function(){
      if(document.getElementById('search-p').value != null && document.getElementById('search-p').value != ""){
        window.location = "/search?q=" + document.getElementById('search-p').value;
      }
    });
    </script>
  </div>
{% endblock %}
