{% extends "layout.html" %}
{% block title %}Sign Up - DOE{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="theme-color" content="#dcb0a5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Sign Up - DOE">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('signup', name=name) }}">
    <meta property="og:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Asim_Shresth">
    <meta name="twitter:title" content="Sign Up - DOE">
    <meta name="twitter:description" content="Sign Up - DOE">
    <meta name="twitter:image" content="https://asimshrestha2.github.io/portfoliov2/imgs/Asim_Ymir.png">
    <script src="{{ url_for('static', filename='signup.js') }}" charset="utf-8"></script>
{% endblock %}
{% block content %}
  <div class="signup row-small">
      <div class="input-field">
        <input type="text" name="username" id="username" value="">
        <label for="username">Username</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" id="password" value="">
        <label for="password">Password</label>
      </div>
      <div class="input-field">
        <input type="password" name="confpassword" id="confpassword" value="">
        <label for="confpassword">Confirm Password</label>
      </div>
      <div class="col-2 signup">
        <div class="input-field">
          <input type="text" name="firstname" id="firstname" value="">
          <label for="firstname">First Name</label>
        </div>
        <div class="input-field">
          <input type="text" name="lastname" id="lastname" value="">
          <label for="lastname">Last Name</label>
        </div>
      </div>
      <div class="input-field">
        <input type="email" name="email" id="email" value="">
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input type="text" name="phone" id="phone" value="">
        <label for="phone">Phone Number</label>
      </div>
      <div class="input-field">
        <input type="text" name="address1" id="address1" value="">
        <label for="address1">Address Line 1</label>
      </div>
      <div class="input-field">
        <input type="text" name="address2" id="address2" value="">
        <label for="address2">Address Line 2</label>
      </div>
      <div class="input-field">
        <input type="text" name="zip" id="zip" value="">
        <label for="zip">ZIP Code</label>
      </div>
      <div>
        <div id="signup" class="rect-btn">Sign Up</div>
      </div>
  </div>
{% endblock %}
